// Header Settings

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

  .nav-bar{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

    .logo{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 250px;
      height: 80%;

      img{
        height: 50%;
      }
    }

    .menu-list{
      align-self: center;
      width: 300px;
      height: 25%;

      ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        li{
          list-style: none;
          padding: 15px;
        }

        li a{
          color: #000;
          text-decoration: none;
          padding: 15px;

          &:hover{
            background-color: #b6dbe4;
            color: $textColor;
            font-weight: 700;
          }
        }
      }
    }
  }
}
